
$iaBackground: #eee;
$interactionBorder: #000;

@mixin qtiChoiceBox {
    content: ' ';
    float: left;
    width: 14px;
    height: 14px;
    margin: 0 6px 0 3px;
    border: solid $interactionBorder 1px;
    background-color: $iaBackground;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position: relative;
    top: 3px;
}
@mixin qtiChoiceBoxRtl {
    content: ' ';
    float: right;
    margin: 0 3px 0 6px;
    border: solid $interactionBorder 1px;
}
@mixin qtiChoiceBoxAnswered {
    content: '\00d7';
}
@mixin qtiResponseIdentifier {
    margin-left: 0px;
    color: #555;
    font-style: italic;
    font-size: 10pt;
}

.qti-item{

    .response-identifier{
        display: none;
    }
    .show-response-identifier{
        .response-identifier{
            display: inline-block;
        }

        .qti-blockInteraction{
            position: relative;
            .response-identifier{
                @include qtiResponseIdentifier();
                position: absolute;
                top: 0;
                right: 6px;
                padding: 4px;
            }
        }

        .qti-inlineInteraction{
            border: 1px dashed grey;
            padding: 2px;
            &.qti-inlineChoiceInteraction{
                .response-identifier{
                    @include qtiResponseIdentifier();
                    position: relative;
                    margin-left: 10px;
                    margin-right: 4px;
                }
                .qti-inlineChoice {
                    border:none;
                    margin:0;
                    padding-right: 1rem;
                }
            }
            &.qti-textEntryInteraction {
                background-color: transparent;
                input{
                    background-color: $iaBackground;
                    position: relative;
                }
                .response-identifier{
                    @include qtiResponseIdentifier();
                    position: relative;
                    margin: 0 4px;
                }
            }
        }
    }

    .qti-inlineInteraction {
        display: inline-block;
    }

    .qti-extendedTextInteraction {
        textarea {
            display:block;
            padding: 10pt;
            font-size: 12pt;
            border: 1px dashed $interactionBorder;
            font-family: $monospaceFont;
            width: 100%;
            min-height: 150px;
            background:$iaBackground;
        }
    }

    .qti-textEntryInteraction {
        border: none;
        border-bottom: dashed $interactionBorder 1px;
        background-color: $iaBackground;
        padding: 3pt;
        input{
            border: none;
        }
    }

    .qti-inlineChoice {
        border: dashed $interactionBorder 1px;
        background-color: $iaBackground;
        border-radius: 2px;
        margin-left: 1rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

.qti-choiceInteraction, .qti-inlineChoiceInteraction {
    .qti-choice {
        input[type="radio"], input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"] + label,
        input[type="radio"] + label {
            display: inline-block;
            &:before {
                @include qtiChoiceBox();
            }
        }
        input[type="checkbox"]:checked + label,
        input[type="radio"]:checked + label {
            &:before {
                @include qtiChoiceBoxAnswered();
            }
        }
    }
}

.qti-matchInteraction {
    label {
        input[type="radio"], input[type="checkbox"] {
            display: none;
        }

        display: inline-block;
        &:before {
            @include qtiChoiceBox();
        }
    }
}

.rtl{
    .qti-choiceInteraction, .qti-inlineChoiceInteraction {
        .qti-choice {
            input[type="checkbox"] + label,
            input[type="radio"] + label {
                display: inline-block;
                &:before {
                    @include qtiChoiceBoxRtl();
                }
            }
        }
    }
}

.qti-choiceInteraction {
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .qti-choice {
        clear: both;
        margin-bottom: 3px;
        input[type="checkbox"] + label,
        input[type="radio"] + label {
            display: block;
        }
    }
}

.rtl{
    .qti-choiceInteraction {
        .qti-choice {
            input[type="checkbox"] + label,
            input[type="radio"] + label {
                display: block;
            }
        }
    }
}

.render-error {
    .icon {}
    .message {}
    .additional {
        font-size: 1.2rem;
    }
    .title {
        font-weight: bold;
        margin: 6px 0;
    }
    .info {
        margin: 4px 10px 4px 20px;

        &:before {
            content: "- ";
        }
    }
}