@import "inc/bootstrap";
@import "inc/base";
@import "themes/items/_common/inc/print-reset";
@import "themes/items/_common/inc/table";
@import "inc/feedback";
@import "inc/grid";
@import "layout";
@import "interactions";

/* preview */
@media screen {
   html body {
        margin : 10px;

        & > main {
            border: solid 1px #ccc;
            border-radius: 6px;
            box-shadow: 0 0 3px 0 #444 !important;
            background-color: white;
            padding: 15px;
        }
    }
}
